{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron-img p-2 mb-2">
    <div class="container">
        <h1 class="display-4 text-center">Welcome to my Blog</h1>
        {% if alertDisabled2fa %}
            <div class="alert alert-success">You Successfully Disabled Two Factors Authentication</div>
        {% endif %}
{#        <div class="lead">And even answers for those questions you didn't think to ask!</div>#}
    </div>
</div>
<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        <div class="col mb-3">
            <div class="col">
                <a class="btn btn-question" href="{{ path('app_post_create') }}">Create a Post</a>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-2">
            <div class="btn-group">
                <!-- Button trigger modal -->
                <button type="button" id="new-trip" class="btn btn-primary" data-toggle="modal" data-target="#fadeInOutModal">
                    New Trip
                </button>            </div>
        </div>

        <div class="col-8">
            {% for question in pager %}
                <div class="col-12 mb-3 card_preview_post_homepage">
                    <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                        <div class="q-container p-4">
                            <div class="row">
                                <div class="col-2 text-center">
                                    <img src="{{ question.owner.avatarUri }}" width="100" height="100"  alt="{{ question.owner.avatarUri }} avatar">
                                    <div class="vote-arrows vote-arrows-alt flex-fill pt-2" style="min-width: 90px;">
                                        <span>{{ question.likeNr + question.unLikeNr }} votes</span>
                                    </div>
                                    {% for questionTag in question.questionTags %}
                                        <span class="badge rounded-pill bg-light text-dark">{{ questionTag.tag.name }}</span>
                                    {% endfor %}
                                </div>
                                <div class="col">
                                    <a class="q-title" href="{{ path('app_question_show', { slug: question.slug }) }}"><h2>{{ question.name }}</h2></a>
                                    <div class="q-display p-3 container_content_hmp">
                                        <i class="fa fa-quote-left mr-3"></i>
                                        <p class="d-inline paragraph_content_homepage">{{ question.question|slice(0, 250) }}</p>
                                        <i class="fa fa-quote-right mr-3"></i>
                                        <p class="pt-4"><strong>--{{ question.owner.displayName }}</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="answer-link" href="{{ path('app_question_show', { slug: question.slug }) }}" >
                            <p class="q-display-response bg-info text-center p-3">
                                <i class="fa fa-magic magic-wand"></i> {{ question.approvedAnswers|length }} comments
                            </p>
                        </a>
                    </div>
                </div>
            {% endfor %}

            {{ pagerfanta(pager) }}
        </div>

        <div class="col-2">Hello</div>

    </div>

    {{ include('trip/modal-create-trip.html.twig') }}

</div>
    <script>

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
        var path = '{{ path('app_locations') }}';
        var fullUrl   = window.location.origin + path;

        $('.datepicker-p').hide();
        $('.activities-list').hide();

        $('#new-trip').click(()=>{
            $.ajax({
                type: "POST",
                url: fullUrl,
                // data: {direction:direction},
                complete: function (data) {
                    $('#new-trip').unbind('click'); // use unbind because click was called each time and incremented the ajax request
                    var array = data.responseJSON;
                    // console.log(array);
                    for(var x = 0;x < array.length; x++){
                        $('.cities-listing').append('' +
                            {#'<form action="{{ path("app_trip_create") }}" id="form-modal-body'+x+'">' +#}
                            '<p class="city-location" id="city-location'+x+'">'+array[x]['city']+' ('+array[x]['country']+')</p>' +
                            '<input name="location_name" type="hidden" class="city-location'+x+'" value=\'{"city":"'+array[x]['city']+ '","country":"' +array[x]['country'] +'"}\' >' +
                            '<button type="submit" class="city-location'+x+'" style="display:none"></button>' +
                            // '</form>' +
                            '');
                    }

                    getCities();
                    //get current element and pass the data to the action page from form
                    function getCities(){ //created function to use unbind because click was called each time and incremented the ajax request
                        $('p[class^="city"]').click((event)=>{
                            var id = $(event.target).attr('id');
                            //Choose Location for the trip
                            var locationName = $(event.target).text();
                            $('#modal-title').text(locationName);
                            $('.modal-footer .btn-secondary').text('Back');
                            $('.cities-listing').hide();
                            $('.activities-list').show();

                            //click Back First time
                            $('.modal-footer .btn-secondary').click(()=>{
                                $('.cities-listing').show();
                                $('#modal-title').text('Choose City');
                                $('.activity-name-p').hide();
                                $('.activities-list').hide();
                                $('.datepicker-p').hide();

                            });
                            //clicking the X for close the modal
                            $('.close-modal-x-button').click(()=>{
                                $('.cities-listing').show();
                                $('#modal-title').text('Choose City');
                                $('.activity-name-p').hide();
                                $('.activities-list').hide();
                                $('.datepicker-p').hide();

                            });
                            // //clicking on outside modal => app.js
                            var path = '{{ path('app_activities') }}';
                            var fullUrl   = window.location.origin + path;
                            var jsonLocation = $('.'+id).val();
                            $.ajax({
                                type: "POST",
                                url: fullUrl,
                                data: {jsonLocation: jsonLocation},
                                complete: function (data) {
                                    jQuery.event.trigger( "ajaxStop" );
                                    $('p[class^="city"]').unbind('click');
                                    getCities();
                                    for(var y=0;y<data.responseJSON.length;y++){
                                        $('.activities-list').append('' +
                                            '<p class="activity-name-p activity-details-p'+y+'" id="activity-details'+y+'">'+data.responseJSON[y].activity+' Price: '+data.responseJSON[y].price+'$</p>' +
                                            '<input name="activity_det" type="hidden" class="activity-details'+y+'" value=\'{"activity":"'+data.responseJSON[y].activity+ '","price":"' +data.responseJSON[y].price +'"}\' >' +
                                            '');
                                    }
                                    var activityValue;
                                    var date;
                                    $('p[id^="activity-details"]').click((e)=>{
                                        var activityName = $(e.target).text();
                                        var activityId = $(e.target).attr('id');
                                        activityValue = $('.'+activityId).val();
                                        //TODO => get the available dates from API!!!
                                        if(activityName === 'football Price: 95$'){
                                            availableData = ['2022-07-23'];
                                        }else if(activityName === 'football Price: 95$'){
                                            availableData = ['2022-07-28'];
                                        }else if(activityName === 'karate Price: 51$'){
                                            availableData = ['2022-07-26'];
                                        }else if(activityName === 'weight lifting Price: 38$'){
                                            availableData = ['2022-07-25'];
                                        }
                                        else{
                                            availableData = ["2022-07-29","2022-07-27"];
                                        }
                                        $('#modal-title').html('<p>'+locationName + '</p><br><p class="css-p-generated"> Choosen activity: <span>' + activityName+'</span></p>');
                                        $('.datepicker-p').show();
                                        date = $('#datepicker').val();
                                        console.log(date);
                                    });
                                    $('.modal-footer .btn-primary').click(()=>{
                                        date = $('#datepicker').val();
                                        if(date !== ''){
                                            window.location.replace(window.location.origin+'/create-trip?location='+jsonLocation+'&activity='+activityValue+'&date='+date);
                                        }else{
                                            alert('Please select a desired date');
                                        }
                                    });
                                    // todo => get this data from API for each clicked Activity!
                                    var availableData;

                                    $( function() {
                                        $('#datepicker').datepicker({
                                            dateFormat: "yy-mm-dd",
                                            beforeShowDay: function(date) {
                                                if($.inArray($.datepicker.formatDate('yy-mm-dd', date ), availableData) > -1)
                                                {
                                                    return [true,"","Booked out"];
                                                }
                                                else
                                                {
                                                    return [false,'',"available"];
                                                }
                                            }
                                        });
                                    });
                                }
                            });
                        });
                    }
                }
            });
        });



    </script>
{% endblock %}

