{% extends 'base.html.twig' %}

{% block title %}Question: {{ question.name }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-4">Question:</h2>
            <div style="box-shadow: 2px 3px 9px 4px rgba(0,0,0,0.04);">
                <div class="q-container-show p-4">
                    <div class="row">
                        <div class="col-2 text-center">
                            <img src="{{ question.owner.avatarUri }}" width="100" height="100"  alt="{{ question.owner.avatarUri }} avatar">
                            <div class="mt-3">
                                <small>
                                    {% if question.askedAt %}
                                        Asked <br>
                                        {{ question.askedAt|ago }}
                                    {% else %}
                                        (unpublished)
                                    {% endif %}
                                </small>
{#                                <form action="{{ path('app_question_vote', { slug: question.slug, question_id: question.id }) }}" method="POST">#}
                                    <div class="vote-arrows vote-arrows-alt flex-fill pt-2" style="min-width: 90px;">
                                        <button class="vote-up btn btn-link" name="direction" value="up"><i class="far fa-arrow-alt-circle-up vote-direction  {% if votes == 1 and likes == 1 %} active_arrow {% else %} disabled_arrow {% endif %}"></i></button>
                                        <span class="total-votes-up">{% if question.likeNr == '' %} 0 {% else %} {{ question.likeNr }} {% endif %}</span>
                                        <button class="vote-down btn btn-link" name="direction" value="down"><i class="far fa-arrow-alt-circle-down vote-direction  {% if votes == 1 and unlikes == 1 %} active_arrow {% else %} disabled_arrow {% endif %}"></i></button>
                                        <span class="total-votes-down">{% if question.unlikeNr == '' %} 0 {% else %} {{ question.unlikeNr }}{% endif %}</span>
                                    </div>
{#                                </form>#}
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-between">
                                <h1 class="q-title-show">{{ question.name }}</h1>
                                {% if is_granted('EDIT', question) %}
                                    <a href="{{ path('app_question_edit', {
                                        slug: question.slug
                                    }) }}" class="btn btn-secondary btn-sm mb-2">Edit</a>
                                {% endif %}
                            </div>
                            <div class="q-display p-3">
                                <i class="fa fa-quote-left mr-3"></i>
                                <p class="d-inline">{{ question.question }}</p>
                                <p class="pt-4"><strong>--{{ question.owner.displayName }} ({{ question.owner.email }})</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between my-4">
        <form action="{{ path('app_comment_create') }}">
            <p><label for="post-comment">Post a Comment:</label></p>
            <textarea id="post-comment" name="post-comment" rows="4" cols="50" placeholder="Type your comment here"></textarea>
            <br>
            <button type="submit" value="Submit" class="btn btn-sm btn-secondary">Post the Comment</button>
        </form>
    </div>

    <ul class="list-unstyled">
        {% for answer in question.approvedAnswers %}
            {{ include('answer/_answer.html.twig') }}
        {% endfor %}
    </ul>
</div>
    <script>

        function ajaxRequest(direction) {
            var path = '{{ path('app_question_vote', { slug: question.slug, question_id: question.id }) }}';
            var fullUrl   = window.location.origin + path;

            console.log(direction);
             $.ajax({
                type: "POST",
                url: fullUrl,
                 data: {direction:direction},
                success: function (data) {
                    console.log('success');
                }
            });
        }


        $('.vote-up').click(()=>{
            var attributes = $('.vote-up i').attr('class');
            var checkClass = attributes.includes('active_arrow');
            var actualNr = ($('.total-votes-up').text()).replace(/[+-]/g,'');
            var actualNrDOWN = ($('.total-votes-down').text()).replace(/[+-]/g,'');

            console.log('up');
            if(checkClass){
                $('.vote-up i').removeClass('active_arrow');
                $('.vote-up i').addClass('disabled_arrow');
                $('.vote-down i').addClass('disabled_arrow');
                $('.vote-down i').removeClass('active_arrow');
                $('.total-votes-up').text(parseInt(actualNr) - 1);

            }else{
                $('.vote-up i').addClass('active_arrow');
                $('.vote-up i').removeClass('disabled_arrow');
                $('.vote-down i').addClass('disabled_arrow');
                $('.total-votes-up').text(parseInt(actualNr) + 1);
                if( $('.vote-down i').hasClass('active_arrow')){
                    $('.total-votes-down').text(parseInt(actualNrDOWN) - 1);
                }
                $('.vote-down i').removeClass('active_arrow');
            }
            ajaxRequest('up');

        });


        $('.vote-down').click(()=>{
            var attributes = $('.vote-down i').attr('class');
            var checkClass = attributes.includes('active_arrow');
            var actualNr = ($('.total-votes-down').text()).replace(/[+-]/g,'');
            console.log('up');
            var actualNrUP = ($('.total-votes-up').text()).replace(/[+-]/g,'');

            if(checkClass){
                $('.vote-down i').removeClass('active_arrow');
                $('.vote-down i').addClass('disabled_arrow');
                $('.vote-up i').removeClass('active_arrow');
                $('.vote-up i').addClass('disabled_arrow');
                $('.total-votes-down').text(parseInt(actualNr) - 1);
            }else{
                $('.vote-down i').addClass('active_arrow');
                $('.vote-down i').removeClass('disabled_arrow');
                $('.vote-up i').addClass('disabled_arrow');
                $('.total-votes-down').text(parseInt(actualNr) + 1);
                if( $('.vote-up i').hasClass('active_arrow')){
                    $('.total-votes-up').text(parseInt(actualNrUP) - 1);
                }
                $('.vote-up i').removeClass('active_arrow');
            }
            ajaxRequest('down');
        });

    </script>
{% endblock %}

