{% extends 'base.html.twig' %}

{% block body %}
    {% for data in dataCauze %}
        <table class="table table-dark">
            <tr>
                <th scope="col">Name of Product</th>
                <th scope="col">Date of purchase</th>
                <th scope="col">Amount of Payment</th>
            </tr>
            <tr>
                <th scope="col">{{data.name}}</th>
                <th scope="col">{{data.date|date('Y-m-d')}}</th>
                <th scope="col">{{data.amount}}</th>
            </tr>

        </table>
    {% endfor %}
    {% for product in products %}
        <div class="product">
            <div class="description">
                <h3>Name : {{product.name }}</h3>
                {#                <h5>Price : {{product.fPrice / 100 }} RON</h5>#}
            </div>
        </div>
        <form action="{{ path('app_checkout') }}" method="POST">
            <input type="hidden" name="price" value="{{product.default_price}}">
            <h5>Cat doresti sa donezi? : <input type="number" name="quantity"></h5>


            <label for="femei">Femei in dificultati</label>
            <input type="checkbox" name="cauza" value="0">

            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    {% endfor %}
{% endblock %}