<nav
        class="navbar navbar-expand-lg navbar-light bg-light px-1"
{#        {{ is_granted('ROLE_PREVIOUS_ADMIN') ? 'style="background-color: red !important"' }}#}
>
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <p class="pl-2 d-inline font-weight-bold" style="color: #444;">
                Organizație Neguvernamentală </p>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapsable">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_dashboard') }}">Admin</a>
                </li>
            {% endif %}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="nav-link text-black-50" href="{{ path('app_logout') }}">Log Out</a>
            {% else %}
                <a class="nav-link text-black-50" href="{{ path('app_login') }}">Log In</a>
                <a href="#" class="btn btn-dark">Sign up</a>
            {% endif %}

        </div>
    </div>
</nav>