<nav
        class="navbar navbar-expand-lg navbar-light bg-light px-1"
        {{ is_granted('ROLE_PREVIOUS_ADMIN') ? 'style="background-color: red !important"' }}
>
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage', { page : 1}) }}">
            <p class="pl-2 d-inline font-weight-bold" style="color: #444;">
                Stefan Zaharia Portfolio
            </p>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapsable">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_dashboard') }}">Admin</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('user_dashboard') }}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_trip_create') }}">Create a Trip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_donations') }}">Donations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_skills_page') }}">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>




            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="dropdown">
                    <button
                            class="dropdown-toggle btn"
                            type="button"
                            id="user-dropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <img
                                src="https://ui-avatars.com/api/?name={{ app.user.firstName|url_encode }}&size=32&background=random"
                                alt="{{ app.user.firstName }} Doe Avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_homepage' , {
                                    '_switch_user':'_exit'
                                }) }}">Exit Impersonation</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_2fa_enable') }}">Enable 2fa</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_2fa_disable') }}">Disable 2fa</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                {%else%}
                <a class="nav-link text-black-50" href="{{ path('app_login') }}">Log In</a>
                <a href="{{ path('app_register') }}" class="btn btn-dark">Sign up</a>
            {% endif %}

        </div>
    </div>
</nav>


{% for flash in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}